.link {
    margin-top: 12px;
}

.wrapper {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 32px repeat(5, 16px);
}
