html {
    box-sizing: border-box;
}

/* ------------------------------------------------ */

.board-cell {
    border-radius: 0px;
    border-color: black;
    font-size: 200%;
    height: 100px;
    width: 100px;
}

.game {
    flex-basis: 33%;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    line-height: 0;
    margin: auto;
    width: 300px;
}

.game-info {
    color: #1565c0;
    font-size: 125%;
    margin: 15px;
    text-align: center;
}

.history-button {
    line-height: 1.7;
    width: 150px;
}

.history-steps {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    margin-top: 50px;
}

.page {
    display: flex;
    margin-top: 20%;
}

.restart-button {
    margin-top: 15px;
    text-align: right;
    width: 100%;
}

.tabs {
    flex-basis: 33%;
}
